export(distance_histogram)
export(group_samples_by_column)
export(grouped_distances)
export(make_otu_table)
export(otu_barplot)
export(otu_heatmap)
export(paired_distances)
export(parse_assignments)
export(parse_blast_table)
export(parse_distmat)
export(parse_mapping_file)
export(parse_otu_mapping)
export(parse_otu_table)
export(parse_rarefaction)
export(prettyprint_assignments)
export(rarefaction_stats)
export(saturated_rainbow)
export(taxonomic_ranks)
import(ggplot2)
import(pheatmap)
import(plyr)
import(reshape2)
